@import "primereact/resources/themes/lara-light-indigo/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
@import "bootstrap/dist/css/bootstrap.css";

.card {
    width : 75vw;
}

.select-button {
    position: absolute;
    top: 5px;
    left: 4px;
}
